@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-top {
  width: 100%;
  background: #fff;
  padding: 10px 0;
  height: 110px;
  display: flex;
  align-items: center;
}
.header-top__container {
  width: 100%;
  height: 90px;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top__column {
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}
.header-top__logo {
  position: relative;
  color: #000;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 3px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}
.header-top__logo:hover {
  transform: scale(0.95, 0.95);
}
.header-top__slogan {
  color: #000;
  opacity: 0.8;
  font-weight: 300;
  font-size: 12.5px;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
}
.header-top__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top__social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: all 0.5s ease 0s;
}
.header-top__social__link:first-child:hover {
  border-color: #45668e;
  color: #45668e;
}
.header-top__social__link:nth-child(2):hover {
  border-color: #833ab4;
  color: #833ab4;
}
.header-top__social__link:nth-child(3):hover {
  border-color: #0088cc;
  color: #0088cc;
}
.header-top__social__link:last-child {
  margin-right: 0;
}
.header-top__social__link:last-child:hover {
  border-color: #4DE8F4;
  color: #4DE8F4;
}
.header-top__cart {
  position: relative;
  display: flex;
  align-items: center;
}
.header-top__cart__row {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}
.header-top__cart__icon {
  font-size: 36px;
  margin-right: 15px;
  color: #000;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease 0s;
}
.header-top__cart__icon:hover {
  transform: scale(1.1, 1.1);
}
.header-top__cart__body {
  display: flex;
  flex-direction: column;
}
.header-top__cart__title {
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
.header-top__cart__price {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  opacity: 0.9;
}

.header-bottom {
  position: relative;
  width: 100%;
  height: 50px;
  background: #0b0b0c;
}
.header-bottom._fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
}
.header-bottom__container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 100%;
}
.header-bottom__logo {
  border-radius: 50%;
  background: #fff;
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.header-bottom__logo:hover {
  transform: scale(1.2, 1.2);
}
.header-bottom__logo._click {
  transform: scale(0.9, 0.9);
}

.menu__body {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__item {
  display: flex;
  flex-direction: column;
  transition: background 0.5s ease 0s;
}
.menu__item._active .menu__dropdown {
  display: block;
}
.menu__item._active, .menu__item:hover {
  background: rgba(19, 19, 20, 0.9);
}
.menu__link {
  color: #fff;
  font-size: 18px;
  padding: 15px;
  transition: background 0.3s ease 0s;
  white-space: nowrap;
  -webkit-user-select: none;
          user-select: none;
}
.menu__link:hover {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu__dropdown {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  background: rgba(13, 13, 14, 0.95);
  padding: 30px 0;
  top: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
  overflow: auto;
  z-index: 3000;
}
.menu__dropdown__buttons {
  display: flex;
  align-items: center;
}
.menu__dropdown__button {
  display: inline-block;
  font-size: 22px;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  background: #fff;
  margin-right: 20px;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}
.menu__dropdown__button:first-child:hover {
  background: #4B5CD7;
  color: #fff;
}
.menu__dropdown__button:nth-child(2):hover {
  background: #25d277;
  color: #fff;
}
.menu__dropdown__button:last-child {
  margin-right: 0;
}
.menu__dropdown__button:last-child:hover {
  color: #fff;
  background: #4811AE;
}
.menu__sub-list {
  display: flex;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
.menu__sub-list__row {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
.menu__sub-list__row:hover > .menu__sub-list__row__title > span {
  background: linear-gradient(45deg, #4811ae, #4b5cd7, #25d277);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu__sub-list__row:hover > .menu__sub-list__row__title > span:after {
  width: 100%;
}
.menu__sub-list__row__title {
  font-size: 22px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: 500;
  text-decoration: none;
}
.menu__sub-list__row__title span {
  position: relative;
  transition: all 0.5s ease 0s;
}
.menu__sub-list__row__title span:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
  transition: all 0.5s ease 0s;
}
.menu__sub-link {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 300;
}
.menu__sub-link:hover {
  text-decoration: underline;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu__search {
  margin: 0 15px;
  padding: 5px 5px;
  border-radius: 25px;
  background: #00000052;
  display: flex;
  align-items: center;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu__search:hover {
  padding: 5px 15px;
}
.menu__search:hover .menu__search__input {
  width: 200px;
  flex: 0 1 200px;
}
.menu__search:hover .menu__search__button {
  background: linear-gradient(45deg, #4811ae, #4b5cd7, #25d277);
  color: #fff;
}
.menu__search__input {
  color: #fff;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  transition: all 0.5s ease 0s;
  line-height: 30px;
  font-size: 14px;
  width: 0;
  flex: 0 0 0;
}
.menu__search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu__account {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #00000052;
  margin-left: 15px;
  padding: 5px;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu__account:hover {
  transform: scale(1.2, 1.2);
}
.menu__account__image {
  background: #fff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.menu__account__image img {
  width: 100%;
  height: 100%;
}

.header-mobile {
  display: none;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-mobile-top {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  padding: 15px 0;
  background: #fff;
}
.header-mobile-top__container {
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-mobile-top__row {
  width: 100%;
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.header-mobile-top__row:last-child {
  margin-bottom: 0;
}
.header-mobile-top__column {
  justify-content: center;
  align-items: center;
}
.header-mobile-top__logo {
  color: #000;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 3px;
  text-align: center;
}
.header-mobile-top__slogan {
  color: #000;
  opacity: 0.8;
  font-weight: 400;
  font-size: 12.5px;
  width: 100%;
  text-align: center;
}
.header-mobile-top__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mobile-top__social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  font-size: 16px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: all 0.5s ease 0s;
}
.header-mobile-top__social__link:first-child:hover {
  border-color: #45668e;
  color: #45668e;
}
.header-mobile-top__social__link:nth-child(2):hover {
  border-color: #833ab4;
  color: #833ab4;
}
.header-mobile-top__social__link:nth-child(3):hover {
  border-color: #0088cc;
  color: #0088cc;
}
.header-mobile-top__social__link:last-child {
  margin-right: 0;
}
.header-mobile-top__social__link:last-child:hover {
  border-color: #4DE8F4;
  color: #4DE8F4;
}
.header-mobile-top__search {
  padding: 5px 15px;
  border-radius: 30px;
  background: #0b0b0c;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.header-mobile-top__search__input {
  color: #fff;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  transition: all 0.5s ease 0s;
  line-height: 30px;
  font-size: 14px;
  width: calc(100% - 60px);
  flex: 0 0 calc(100% - 60px);
}
.header-mobile-top__search__input::-webkit-input-placeholder {
  font-weight: 300;
  color: #fff;
  opacity: 0.7;
  letter-spacing: 1px;
}
.header-mobile-top__search__input:-moz-placeholder {
  font-weight: 300;
  color: #fff;
  opacity: 0.7;
  letter-spacing: 1px;
}
.header-mobile-top__search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(45deg, #4811ae, #4b5cd7, #25d277);
  color: #fff;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header-mobile-bottom {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 100;
  background: #0b0b0c;
}
.header-mobile-bottom__container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-mobile-bottom__logo {
  border-radius: 50%;
  background: #fff;
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-mobile__icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.menu-mobile__icon span, .menu-mobile__icon:before, .menu-mobile__icon:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  transition: all 0.3s ease 0s;
  background: #fff;
}
.menu-mobile__icon:before, .menu-mobile__icon:after {
  content: "";
}
.menu-mobile__icon:before {
  top: 0;
}
.menu-mobile__icon:after {
  bottom: 0;
}
.menu-mobile__icon span {
  top: 50%;
  transform: scale(1) translate(0, -50%);
}
.menu-mobile__icon._active span {
  transform: scale(0) translate(0, -50%);
}
.menu-mobile__icon._active:before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.menu-mobile__icon._active:after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.menu-mobile__body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 12, 0.98);
  padding: 70px 20px 20px 20px;
  transition: left 0.3s ease 0s;
  overflow: auto;
}
.menu-mobile__body._active {
  left: 0;
}
.menu-mobile__body:before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background: #0b0b0c;
  z-index: 50;
}
.menu-mobile__list {
  display: flex;
  flex-direction: column;
}
.menu-mobile__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 100%;
  margin-bottom: 15px;
}
.menu-mobile__item._active .menu-mobile__arrow {
  transform: rotate(540deg);
}
.menu-mobile__item._active .menu-mobile__dropdown {
  display: block;
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
}
.menu-mobile__item._active .menu-mobile__link {
  background: linear-gradient(45deg, #4811ae, #4b5cd7, #25d277);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu-mobile__item._active .menu-mobile__link:after {
  width: 100%;
}
.menu-mobile__item__row {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.menu-mobile__item__row:last-child {
  margin-bottom: 0;
}
.menu-mobile__cart {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 100%;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 28px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease 0s;
}
.menu-mobile__cart:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
  transition: all 0.5s ease 0s;
}
.menu-mobile__cart:hover {
  background: linear-gradient(45deg, #4811ae, #4b5cd7, #25d277);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu-mobile__cart:hover:after {
  width: 100%;
}
.menu-mobile__cart i {
  margin-right: 3px;
  transition: all 0.5s ease 0s;
}
.menu-mobile__account {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
  padding: 5px 0;
  color: #fff;
  font-size: 28px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease 0s;
}
.menu-mobile__account:hover {
  transform: scale(1.1, 1.1);
}
.menu-mobile__account__image {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
  margin-left: 20px;
}
.menu-mobile__dropdown {
  display: none;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background: #0d0d0e;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease 0.2s;
  transform: translate(-100vw, 0);
  border-radius: 3px;
  overflow: auto;
}
.menu-mobile__dropdown__buttons {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.menu-mobile__dropdown__button {
  display: inline-block;
  font-size: 18px;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease 0s;
  text-align: center;
  margin-bottom: 10px;
}
.menu-mobile__dropdown__button:first-child:hover {
  background: #4B5CD7;
  color: #fff;
}
.menu-mobile__dropdown__button:nth-child(2):hover {
  background: #25d277;
  color: #fff;
}
.menu-mobile__dropdown__button:last-child {
  margin-bottom: 0;
}
.menu-mobile__dropdown__button:last-child:hover {
  color: #fff;
  background: #4811AE;
}
.menu-mobile__link {
  color: #fff;
  font-size: 28px;
  transition: all 0.3s ease 0s;
  -webkit-user-select: none;
          user-select: none;
  position: relative;
  transition: all 0.5s ease 0s;
}
.menu-mobile__link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
  transition: all 0.5s ease 0s;
}
.menu-mobile__arrow {
  margin-right: 7px;
  color: #fff;
  font-size: 20px;
  transition: transform 0.5s ease 0s;
}
.menu-mobile__sub-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.menu-mobile__sub-list__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 15px;
}
.menu-mobile__sub-list__row:last-child {
  margin-bottom: 5px;
}
.menu-mobile__sub-list__row__title {
  font-size: 22px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 500;
  text-decoration: none;
}
.menu-mobile__sub-link {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 300;
}
.menu-mobile__sub-link:last-child {
  margin-bottom: 0;
}
.menu-mobile__sub-link:hover {
  text-decoration: underline;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  .header-top__logo {
    font-size: 36px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .header-top__logo {
    font-size: calc(28px + 8 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .header-top__slogan {
    font-size: 12.5px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .header-top__slogan {
    font-size: calc(10px + 2.5 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .header-top__cart__icon {
    font-size: 36px;
    margin-rigth: 15px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .header-top__cart__icon {
    font-size: calc(24px + 12 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .header-top__cart__icon {
    margin-rigth: calc(10px + 5 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .header-top__cart__title {
    font-size: 24px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .header-top__cart__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .header-top__cart__price {
    font-size: 18px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .header-top__cart__price {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__link {
    font-size: 18px;
    padding: 15px calc(10px + (15 - 10) * ((100vw - 768px) / (1200 - 768)));
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__sub-link {
    font-size: 18px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__sub-link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__sub-list {
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__sub-list {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__sub-list__row {
    padding-rigth: 15px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__sub-list__row {
    padding-rigth: calc(10px + 5 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__sub-list__row__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__sub-list__row__title {
    font-size: calc(18px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__sub-list__row__title {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__dropdown {
    padding: 30px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__dropdown {
    padding: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__dropdown__button {
    font-size: 22px;
    padding: 10px calc(10px + (15 - 10) * ((100vw - 768px) / (1200 - 768)));
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__dropdown__button {
    font-size: calc(16px + 6 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__search {
    margin: 0 calc(5px + (15 - 5) * ((100vw - 768px) / (1200 - 768)));
  }
  .menu__search:hover .menu__search__input {
    width: 200px;
    flex: 0 1 calc(100px + (200 - 100) * ((100vw - 768px) / (1200 - 768)));
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__search:hover .menu__search__input {
    width: calc(100px + 100 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .menu__account {
    margin-left: 15px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .menu__account {
    margin-left: calc(5px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .header {
    display: none;
  }

  .header-mobile {
    display: block;
  }
}
.footer {
  background: #000001;
  padding: 30px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  z-index: 2;
}
.footer__container {
  display: flex;
  align-items: center;
}
.footer__column {
  flex: 0 0 50%;
  align-items: center;
}
.footer__column:first-child {
  align-items: flex-start;
}
.footer__column:last-child {
  align-items: flex-end;
}
.footer__city, .footer__phone, .footer__order-processing, .footer__copyright {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.footer__city i, .footer__phone i, .footer__order-processing i, .footer__copyright i {
  width: 22px;
  font-size: 18px;
}
.footer__city p, .footer__phone p, .footer__order-processing p, .footer__copyright p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
}
.footer__city p:last-child, .footer__phone p:last-child, .footer__order-processing p:last-child, .footer__copyright p:last-child {
  margin-bottom: 0;
}
.footer__copyright {
  margin-bottom: 0;
}
.footer__phone h2, .footer__order-processing h2 {
  margin-bottom: 5px;
}
.footer__law {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .footer__law {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
.footer__law p {
  text-align: right;
  font-weight: 300;
  font-size: 18px;
}
.footer__law__icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-left: 20px;
  flex: 0 0 60px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  .footer__column:first-child {
    align-items: flex-start;
  }
  .footer__copyright {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .footer__copyright {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .footer__law:before {
    content: "";
    position: absolute;
    top: -31.5px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
    border-radius: 8px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .footer__law:before {
    top: calc(-16.5px + -15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .footer__law p {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .footer__law__icon {
    display: none;
  }
}
@media (max-width: 1200px) {
  .footer__city, .footer__phone, .footer__order-processing {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .footer__city, .footer__phone, .footer__order-processing {
    font-size: calc(20px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .footer__city, .footer__phone, .footer__order-processing {
    margin-bottom: calc(12.5px + 2.5 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .footer__copyright {
    font-size: 24px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .footer__copyright {
    font-size: calc(20px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .footer__law p {
    font-size: 18px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .footer__law p {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
body {
  height: 100%;
  background: #111112;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1 1 auto;
  padding: 0 0 20px 0;
}

.fullscreen {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen:first-child {
  min-height: calc(100vh - 160px);
}

.goosevape {
  object-fit: cover;
  background: url("../img/Brick-Background.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2) inset;
  z-index: 1;
}
.goosevape__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goosevape__title {
  position: relative;
  color: #fff;
  font-weight: 700;
  letter-spacing: 5px;
  z-index: 1;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 94px;
}
@media (max-width: 1200px) {
  .goosevape__title {
    font-size: calc(40px + 54 * ((100vw - 320px) / 880));
  }
}
.goosevape__title:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  flex: 0 0 100%;
  background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1200px) {
  .goosevape__title:after {
    height: calc(4px + 1 * ((100vw - 320px) / 880));
  }
}

.popular-products {
  box-shadow: 0px 2px 5px black;
  z-index: 2;
}
.popular-products__container {
  flex: 1 1 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-products__title {
  text-align: center;
  position: relative;
  color: #fff;
  font-weight: 700;
  letter-spacing: 5px;
  z-index: 1;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .popular-products__title {
    font-size: calc(24px + 26 * ((100vw - 320px) / 880));
  }
}
.popular-products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.popular-products__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: #0d0d0e;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease 0s;
}
.popular-products__item:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.popular-products__item__image {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}
.popular-products__item__image img {
  max-width: 100%;
  flex: 0 1 100%;
}
.popular-products__item__name {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.popular-products__item__price {
  flex: 1 1 auto;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 15px;
}
.popular-products__item__price i {
  font-weight: 900;
}
.popular-products__item__to-cart {
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 22px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
}
.popular-products__item__to-cart:hover {
  padding: 10px 40px;
}

.new-products {
  z-index: 1;
  background: #ededed;
}
.new-products__container {
  flex: 1 1 auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-products__title {
  text-align: center;
  position: relative;
  color: #000;
  font-weight: 700;
  letter-spacing: 5px;
  z-index: 1;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .new-products__title {
    font-size: calc(24px + 26 * ((100vw - 320px) / 880));
  }
}
.new-products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.new-products__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease 0s;
}
.new-products__item:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.new-products__item__image {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}
.new-products__item__image img {
  max-width: 100%;
  flex: 0 1 100%;
}
.new-products__item__name {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.new-products__item__price {
  flex: 1 1 auto;
  font-size: 18px;
  color: #000;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 15px;
}
.new-products__item__price i {
  font-weight: 900;
}
.new-products__item__to-cart {
  text-align: center;
  display: inline-block;
  padding: 10px 15px;
  background: linear-gradient(-45deg, #25d277, #4B5CD7, #4811AE);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 22px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
.new-products__item__to-cart:hover {
  padding: 10px 40px;
}

@media (max-width: 767px) {
  .fullscreen:first-child {
    flex: 0 0 100vw;
    width: 100vw;
    min-height: calc(100vh - 210px);
    margin-top: 210px;
  }

  .popular-products__list, .new-products__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 490px) {
  .popular-products__list, .new-products__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px) {
  .popular-products__title, .new-products__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .popular-products__title, .new-products__title {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .popular-products__container, .new-products__container {
    padding: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320))) 20px;
  }
}
@media (max-width: 1200px) {
  .popular-products__list, .new-products__list {
    grid-gap: 30px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .popular-products__list, .new-products__list {
    grid-gap: calc(20px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .popular-products__item, .new-products__item {
    padding: 30px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .popular-products__item, .new-products__item {
    padding: calc(20px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .popular-products__item__name, .new-products__item__name {
    font-size: 24px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .popular-products__item__name, .new-products__item__name {
    font-size: calc(22px + 2 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .popular-products__item__price, .new-products__item__price {
    font-size: 18px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .popular-products__item__price, .new-products__item__price {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}